<h1 class="title-page">Справка</h1>
<ul class="help-links">
  <li><%= link_to "Поиск", help_search_path %></li>
  <li><%= link_to "Клиенты", help_customers_path %></li>
  <li><%= link_to "Объекты", help_subjects_path %></li>
  <li><%= link_to "Персонал", help_users_path %></li>
  <li><%= link_to "Задачи", help_tasks_path %></li>
  <li><%= link_to "Сделки", help_transactions_path %></li>
  <li><%= link_to "Отчёты", help_reports_path %></li>
</ul>