<%= form_for(@typecustomer, :html => { :class => "form-horizontal"}) do |f| %>
  <%= error_messages_for(@typecustomer) %>
  <fieldset>
    <legend><%= @typecustomer.legend_value %></legend>
    <div class="control-group">
      <%= f.label :title, "Тип клиента" %>
      <div class="controls">
        <%= f.text_field :title, :placeholder => "Покупатель ..." %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit @typecustomer.button_value, :class => "btn btn-primary"%>
      <button type="reset" class="btn cancel-form">Отмена</button>
    </div>
  </fieldset>
<% end %>
