<div class="settings">
  <h1 class="title">Типы клиентов:</h1>
  <div class="city">
    <%= flash_msg(flash[:notice]) %>
    <% @typecustomers.each do |t| %>
    <div class="city-settings">
      <h2 class="city-name"><%= t.title %></h2>
      <div class="city-settings-actions">
        <%= link_to edit_icon, edit_type_customer_path(t) %>
        <%= link_to delete_icon, t, :method => :delete, :confirm => "Вы уверены?"  %>
      </div>
    </div>  
    <% end %>
  </div>
  <%= button_to "Добавить тип клиента", new_type_customer_path, :method => :get, :class => "submit-button" %>
</div>
