
<div class="span6">
<h1>Вход</h1>
<%= form_tag(sessions_path, :class => "well form-inline") do %>
  
  <%= email_field_tag :email, params[:email]%>
  
  <%= password_field_tag :password %>
  
  <%= label_tag :remember_me, "Запомнить меня" %>
  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  
  <%= submit_tag "Войти", :class => "btn" %>
<% end %>
</div>
