<h1>Log in</h1>
<div class="span6">
<%= form_tag sessions_path, :html => {:class  => "well form-inline"} do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>
  
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  
  <%= submit_tag "Log in", :class => "btn" %>
<% end %>
</div>
