<div id="search-page">
  <div class="row">
    <div class="span12" id="search-die">
      <%= form_for search_index_path, 
        :html => {:method => :get}, :id => "subject-search" do |f|%>
        <%= f.label :price %>
        <%= f.text_field :price %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div>
    <% @subjects.each do |s| %>
      <%= s.address %><%= s.area %><br />
    <% end %>
  </div>
</div>