<h1 class="title-page"><%= @title %></h1>
<%= flash_msg(flash[:notice]) %>
<% if can? :create, @tasks %>
<%= link_to plus_icon + 'Добавить', new_task_path, 
    :class => "btn button-add"  %>
<% end %>
<%= form_tag(tasks_path, :method => 'get', :id => 'tasks_search')  do %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= text_field_tag :search, params[:search], 
                    :placeholder => "Поиск ...", 
                    :class => "span3" %>
    <div id="task" class="well">
      <%= render 'tasks' %>
    </div>
<% end %>

