<h1 class="title-page">
  <%= link_to "Settings", settings_path %> → Output by page
</h1>
<%= flash_msg(flash[:notice]) %>
<div class="paginator-settings">
  <% @paginators.each do |p| %>
    <div class="one-paginator">
      <span class="paginator-resource">
        <%= p.resource %>:  
      </span>
      <span class="paginator-paginate">
        <%= p.paginate %> items per page
      </span>
      <span class="paginator-actions">
        <%= link_to edit_icon, edit_paginator_path(p), :title => "Edit" %>
      </span>
    </div>
  <% end %>
</div>