<h1 class="title-page">
  <%= link_to "Settings", settings_path %> → Access to customers
</h1>
<%= flash_msg(flash[:notice]) %>
<div class="description-access">
  <p>By default, access to the contact information of clients and has edited all the staff.</p>
  <p>If you want to restrict this access, see the contact information, and the client will be able to edit one agent, who added that customer.
</p>
  <div class="for-access">
    Access to customers can be limited only to agents
  </div>
</div>
<%= form_for(@customeraccess, :html => {:class => "form-horizontal customeraccess-form"}) do |f| %>
  <div class="control-group">
    <%= f.label :access, "Access:" %>  
    <div class="controls">
      <%= f.select :access, Customeraccess.types %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Tune in", :class => "btn btn-primary" %>
    <button type="reset" class="btn cancel-form">Cancel</button>
  </div>
<% end %>