<h2>Sign up</h2>
<%# if can? :new, User%>
  
<%= form_for @user do |f| %>
  

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <div><%= f.label "Тип" %>
  <%= f.select :role, options_for_select(ApplicationHelper::ROLES) %></div>

  <div><%= f.submit "Зарегистрировать" %></div>
  
<% end %>
<%# end %>
