<%= form_for(@user) do |f| %>
  <%= error_messages_for(@user) %>
  <div class="field">
    <%= f.label :last_name, "Фамилия:" %>
    <%= f.text_field :last_name, :class => "long_address" %>
  </div>
  <div class="field">
    <%= f.label :first_name, "Имя:" %>
    <%= f.text_field :first_name, :class => "long_address" %>
  </div>
  <div class="field">
    <%= f.label :middle_name, "Отчество:" %>
    <%= f.text_field :middle_name, :class => "long_address" %>
  </div>
  <div class="field">
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email, :class => "long_address" %>
  </div>
  <div class="field">
    <%= f.label :birth_date, "Дата рождения:" %>
    <%= f.text_field :birth_date, :class => "long_address" %>
  </div>
  <div class="field">
    <%= f.label :adress, "Адрес:" %>
    <%= f.text_field :adress, :class => "long_address" %>
  </div>
  <div class="field">
    <%= f.label :phone, "Телефон:" %>
    <%= f.text_field :phone, :class => "long_address" %>
  </div>
  <div class="submit">
    <%= f.submit @user.button_value, :class => "submit-button" %>
  </div>
<% end %>