<ul>
  <li>
    <%= user.first_name %>
    <%= user.middle_name %>
    <%= user.last_name %>
    <%= link_to edit_icon, edit_user_path(user) %>
    <%= link_to delete_icon, user, :method => :delete, 
      :confirm => "Вы уверены?" %>
  </li>
  <li><%= user.email %></li>
  <li><%= user.birth_date %></li>
  <li><%= user.adress %></li>
  <li><%= user.phone %></li>
</ul>
<br /><br /><br /> 