<%= form_for(@user, :action => "add_info", :html => {:class => "form-horizontal", :id => "add_info_for_user"}) do |f| %>
    <%= error_messages_for(@user) %>
    <fieldset>
       <legend><%= @user.legend_value %></legend>
    
      <div class="control-group">
        <%= f.label :lastname, "Lastname" %>
        <div class="controls">
          <%= f.text_field :lastname %>
        </div>
      </div>
    
      <div class="control-group">
        <%= f.label :firstname, "Firstname" %>
        <div class="controls">
          <%= f.text_field :firstname %>
        </div>
      </div>
    
      <div class="control-group">
        <%= f.label :phonehome, "Home phone" %>
        <div class="controls">
          <%= f.text_field :phonehome %>
        </div>
      </div>
    
      <div class="control-group">
        <%= f.label :phonemobile, "Mobile phone" %>
        <div class="controls">
          <%= f.text_field :phonemobile, :placeholder => "mobile phone" %>
        </div>
      </div>
      
      <div class="form-actions"> 
        <%= f.submit @user.button_value, :class => "btn btn-primary" %>
        <button type="reset" class="btn cancel-form">Cancel</button>
      </div>
    </fieldset>
<% end %>
<%= link_to 'Change password', edit_user_path(current_user)  %>
