<h1>Персонал</h1>
<table class="table table-striped">
  <thead>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Почтовый адрес</th>
    <th></th>
  </thead>
  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td><%= u.lastname %></td>
      <td><%= u.firstname %></td>
      <td><%= u.email %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>

</table>
<div class="form-actions">
<% if can? :new, @users %>  
  <%= link_to 'Создать нового пользователя', new_user_path, :class => "btn"  %> <br />
<% end %>
</div>
<% if current_user %>
 Вы вошли как <i><%= current_user.email %></i>
  
<% end -%>
