<table class="table table-striped table-condensed users">
  <thead>
    <tr>
      <th><%= sortable "id", "#" %></th>
      <th><%= sortable "first_name", "Имя" %></th>
      <th><%= sortable "last_name", "Фамилия" %></th>
      <th><%= sortable "middle_name", "Отчество" %></th>
      <th><%= sortable "short_name", "Фамилия И." %></th>
      <th><%= sortable "email", "Емэйл" %></th>
      <th><%= sortable "adress", "Адрес" %></th>
      <th><%= sortable "phone", "Телефон" %></th>
      <th>Операции</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.middle_name %></td>
        <td><%= user.short_name %></td>
        <td><%= user.email %></td>
        <td><%= user.adress %></td>
        <td><%= user.phone %></td>
        <td>
          <%= link_to eye_icon, user_path(user) %>
          <%= link_to edit_icon, edit_user_path(user) %>
          <%= link_to delete_icon, user, :method => :delete,
                      :confirm => "Вы уверены?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>