<h1 class="title-page">Staff</h1>
<%= flash_msg(flash[:notice]) %>
<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Last visit</th>
    <th>Status</th>
    <th>Access level</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td><%= u.lastname %> <%= u.firstname %></td>
      <td>
        <% if isset_last_sign_in(u.last_sign_in_at) %>
          The employee has not logged into the system
        <% else %>
          <%= to_datetime(u.last_sign_in_at) %>
        <% end %> 

      </td>
      <td>
        <% if u.fired == true %>
          <div class="user-fired">
            Fired
          </div>
        <% else %>
          <div class="user-not-fired">
            Works
          </div>
        <% end %>
      </td>
      <td>
        <%= level_access(u) %>
      </td>
      <td class="actions-buttons">
        <%= link_to eye_icon, user_path(u) %>
        <% if can? :update, @users %>  
          <%= link_to edit_icon, edit_user_path(u) %>
        <% end %>
        <% if can? :destroy, @users %>  
        <%= link_to delete_icon, user_path(u), method: :delete, confirm: "Are you sure?", :title => "Dismiss"  %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="form-actions">
<% if can? :create, @users %>  
  <%= link_to 'Create a new employee', new_user_path, :class => "btn"  %> <br />
<% end %>
</div>

