<div id="show-users">
  <legend>Информация о сотруднике:</legend>
  <div class="info-user">
    <%= @user.lastname %>
    <%= @user.firstname %>
  </div>
  <legend>Контактная информация:</legend>
  <div class="info-user">
    <div class="field-info-user">
      <span>E-mail:</span>
      <%= @user.email %>
    </div>
    <div class="field-info-user">
      <span>Домашний телефон:</span>
      <%= @user.phonehome %>  
    </div>
    <div class="field-info-user">
      <span>Сотовый телефон:</span>
      <%= @user.phonemobile %>
    </div>
  </div>

  <% if current_user.id == @user.id || current_user.role? %>  
    <div class="actions-users">
      <%= link_to 'Изменить профиль', add_info_user_path(current_user)  %>
      <%= link_to 'Изменить пароль', edit_user_path(current_user) %>
    </div>
  <% end %>
</div>
