<div id="user">
  <h1 class="title-page"><%= @user.full_name %></h1>
  <div class="user_birth_date">
    <%= @user.formatted_birthdate %>
  </div>
  <div class="user_email">
    <%= @user.email %>
  </div>
  <div class="user_phone">
    <%= @user.phone %>
  </div>
  <div class="user_adress">
    <%= @user.adress %>
  </div>
</div>