<h1>Информация о сотруднике</h1>
<%= @user.lastname %>
<%= @user.firstname %>
<%= @user.email %>
<%= @user.phonehome %>
<%= @user.phonemobile %>
<% if current_user.id == @user.id %>
<%= link_to 'Изменить профиль', add_info_user_path(current_user)  %>
<%= link_to 'Изменить пароль', edit_user_path(current_user) %>
  
<% end %>

