<div id="show-users">
  <h1 class="title-page">
    Information about the employee
  </h1>
  <div class="info-user">
    <div class="user-name">
      <span class="user-name-title">Lastname:</span> <%= @user.lastname %>
    </div>
    <div class="user-name">
      <span class="user-name-title">Firstname:</span> <%= @user.firstname %>
    </div>
  </div>
  <div class="contacts-user-title">Contacts:</div>
  <div class="info-user">
    <div class="field-info-user">
      <span>E-mail:</span>
      <%= @user.email %>
    </div>
    <div class="field-info-user">
      <span>Home phone:</span>
      <%= @user.phonehome %>  
    </div>
    <div class="field-info-user">
      <span>Mobile phone:</span>
      <%= @user.phonemobile %>
    </div>
    <div class="field-info-user">
      <span>Access level:</span>
      <%= level_access(@user) %>
    </div>
  </div>

  <% if current_user.id == @user.id || current_user.role? %>  
    <div class="actions-users">
      <%= link_to icon_edit + ' Edit profile', add_info_user_path(@user),
          :class => "btn"%>
      <%= link_to icon_lock_black + ' Change password', 
            edit_user_path(@user), :class => "btn" %>
    </div>
  <% end %>
</div>
