<div class="row">
  <div class="span12" id="subjects-results">
    <% if @subjects %>
      <h1 class="subjects-results-title">Результат:</h1>
      <div id="sort-search-subjects">
        <span class="sort-search-title">Сортировать по:</span>
        <%= sort_link @search, :price, "по цене" %> | 
        <%= sort_link @search, :area, "по площади" %> |
        <%= sort_link @search, :created_at, "по дате добавления" %>
      </div>
      <% @subjects.each do |s| %>
        <div class="sub-one">
          <div class="photo-sub">
            <% if isset_photo?(s) %>
              <%= link_to(image_tag(s.photos.first.image_url(:thumb),                     
                  :title => "#{s.photos.size} фото"), s) %>
            <% else %>
              <%= link_to(image_tag("no-photo.gif", :title => "Нет фото"), s) %>
            <% end %>
          </div>
          <div class="info-about-subject">
            <div class="main-info-about-subject">
              <% if s.active == true %>
                <div class="active-sub">
                  <%= link_to s.typesubject.name, s%>
                  <div class="info-price-subject">
                    за <%= price_currency(s) %>
                  </div>  
                  – Активна
                </div>
              <% else %>
              <div class="inactive-sub">
                <%= link_to s.typesubject.name, s%>
                <div class="info-price-subject">
                  за <%= price_currency(s) %>
                </div>  
                – Не активна
              </div>
              <% end %>
            </div>
            <div class="other-info-subject">
              <div class="field-other">
                Адресс: <%= s.address %>
              </div>
              <div class="field-other">
                Площадь: <%= isset_data(s.area) %> <span class="calc-label">м&sup2;</span>
              </div>
              <div class="field-other">
                Хозяин: <%= link_to(s.customer.fullname, s.customer) %>
              </div>
              <div class="field-other date-add-subject">
                Дата добавления: <%= to_date(s.created_at) %>
              </div>
            </div>
            
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
      <%= flash_msg(flash[:notice]) %>
      <%= paginate @subjects %>
    <% end %>
  </div>
</div>