<table class="table table-striped table-condensed customers" id="customers_table">
  <thead>
    <tr>
      <th><%= sortable "id", "№" %></th>
      <th><%= sortable "typetransaction_id", "Contract" %></th>
      <th><%= sortable "lastname", "Lastname" %></th>
      <th><%= sortable "firstname", "Name" %></th>
      <th><%= sortable "social_status_id", "Social status" %></th>
      <th>Home phone</th>
      <th>Mobile phone</th>
      <th>Add object</th>
      <th>Conclude contract</th>
      <th>Actions</th>
    </tr>
  </thead>
   
  <tbody>
    <% @potentials.each do |p| %>
      <tr>
        <td class="id-table"><%= p.id %></td>
        <td class="id-table"><%= p.typetransaction.name %></td>
        <td><%= link_to(isset_field(p.lastname), p) %></td>
        <td><%= link_to(p.firstname, p) %></td>
        <td class="id-table">
          <% if have_object?(p.social_status) %>
            <%= p.social_status.title %>
          <% else %>
            None
          <% end %>
        </td>
        <td class="id-table">
          <% if Customer.check_owner(current_user, p) %>
            <%= p.phonehome %>
          <% else %>
            hidden
          <% end %>
        </td>
        <td class="id-table">
          <% if Customer.check_owner(current_user, p) %>
            <%= p.phonemobile %>
          <% else %>
            hidden
          <% end %>
        </td>
        <td>
          <%= link_to plus_icon, new_subject_path(:customer_id => p.id), 
              :title => "Add real estate" %>
        </td>
        <td class="id-table">
          <span class="icon-trans-status">
            <%= customer_act?(p) %>  
          </span>
          <%= link_to "Contract", new_transaction_path(:customer_id => p.id) %>
        </td>
        <td class="actions-buttons">
          <%= link_to eye_icon, customer_path(p), :title => "More...", 
              :rel => "tooltip" %>
          <%= link_to edit_icon, edit_customer_path(p) %>
          <%= link_to delete_icon, p , :method => :delete, 
              :confirm => "Are you sure?" %>
        </td>
      </tr>
      <% end %>
  </tbody>    
</table>
<%= paginate @potentials %>