<div id="settings">
  <h1 class="title-page">Settings</h1>
  <ul id="settings-list">
    <li>
      <%= link_to "Cities", cities_path, 
          :class => "city-icon" %>
    </li>
    <li class="paginator-icon">
      <%= link_to "Output by page", paginators_path, 
          :class => "paginator-icon" %>
    </li>
    <li class="worktime-icon">
      <%= link_to "Working time", worktimes_path, :class => "worktime-icon" %>
    </li>
    <li class="customers-s-icon">
      <%= link_to "Access to customers", customeraccesses_path, :class => "customers-s-icon" %>
    </li>
    <li>
      <%= link_to "Types of real estate", typesubjects_path,
          :class => "typeobject-icon" %>
    </li>
    <li class="condition-icon">
      <%= link_to "Additional fields for real estate", condition_fields_path,
          :class => "condition-icon" %>
    </li>
    <li class="values-icon">
      <%= link_to "Values ​​for additional fields", value_fields_path,
          :class => "values-icon" %>
    </li>
    <li>
      <%= link_to "Social statuses of the customers", social_statuses_path,
          :class => "socialstatus-icon" %>
    </li>
    <li class="district-icon">
      <%= link_to "Districts", districts_path, :class => "district-icon" %>
    </li>
    <li class="resident-icon">
      <%= link_to "Apartment complexes", residents_path, :class => "resident-icon" %>
    </li>
    <div class="clear"></div>
  </ul>  
</div>
