<div class="settings">
  <h1 class="title">Настройки системы</h1>
  <ul id="set-list">
    <li><%= link_to "Список городов", cities_path, :class => "city_link" %></li>
    <li><%= link_to "Типы клиентов", type_customers_path, :class => "typecustomers_link" %></li>
    <li><%= link_to "Социальные статусы клиентов", social_statuses_path, 
            :class => "socialstatus_link" %></li>
    <li><%= link_to "Типы недвижимости", "#", 
            :class => "typeobjesct_link" %></li>
    <li><%= link_to "Доп.поля для недвижимости", condition_fields_path,
            :class => "condition_link" %></li>
    <li><%= link_to "Значение доп.полей для недвижимости", "#",
            :class => "value_icon" %></li>
    <div class="clear">
    </div>
  </ul>
</div>
