<%= form_for(@customer, 
  :html => { :class => "form-horizontal customer-form-validation"}) do |f| %>
  <%= error_messages_for(@customer) %>
  <fieldset>
    <legend><%= @customer.legend_value %></legend>
    <div class="control-group">
      <%= f.label :typetransaction_id, "Type of contract:" %>
      <div class="controls">
        <%= collection_select(:customer, :typetransaction_id, 
            Typetransaction.all, :id, :name) %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :lastname, "Lastname:" %>
      <div class="controls">
        <%= f.text_field :lastname, :placeholder => "Smith "%>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :firstname, "Firstname:" %>
      <div class="controls">
        <%= f.text_field :firstname, :placeholder => "John "%>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :phonehome, "Home phone:" %>
      <div class="controls">
        <%= f.text_field :phonehome %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :phonemobile, "Mobile phone:" %>
      <div class="controls">
        <%= f.text_field :phonemobile, :placeholder => "mobile phone" %>
        <a class="add-more-phone" title="Additional phones">
          <img src="/assets/mobile-phone-icon.png" alt="">
        </a>
      </div>
    </div>
    <div class="more-phones">
      <%= f.fields_for :phones do |p| %>
        <div class="control-group">
          <%= p.label :customerphone, "Additional phone:", 
              :class => "label-more-phone" %>
          <div class="controls">
            <%= p.text_field :customerphone %>
            <%= p.check_box :_destroy %>
            <%= p.label :_destroy, "Delete phone", :class => "label-destroy-more-phone" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="control-group">
      <%= f.label :email, "e-mail:" %>
      <div class="controls">
        <%= f.email_field :email, :placeholder => "example@mail.ru" %>  
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :social_status_id, "The social status of the customer" %>
      <div class="controls">
        <%= f.collection_select(:social_status_id, SocialStatus.asctitle, :id, :title) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :potentials, "Potential:" %>
      <div class="controls">
        <%= f.check_box :potentials %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :note, "Note:" %>
      <div class="controls">
        <%= f.text_area :note, :rows => 5, :placeholder => "About the customer ..." %>
      </div>
    </div>
    <% if @customer.new_record? %>
      <div class="control-group">
        <%= f.hidden_field(:lastcall, :value => Time.current) %>
      </div>
    <% end %>
    <%= f.hidden_field(:user_id, :value => current_user.id) %>
    <div class="form-actions">
      <%= f.submit @customer.button_value, :class => "btn btn-primary" %>
      <button type="reset" class="btn cancel-form">Cancel</button>
    </div>
  </fieldset>
<% end %>