<h1 class="title-page">Active customers</h1>
<%= flash_msg(flash[:notice]) %>
<%= link_to plus_icon + " Add" , new_customer_path, :class => "btn button-add" %>

<div class="links-type-customers">
  <%= link_to 'all customers', all_customers_path %>
  <%= link_to 'active customers', customers_path %>
  <%= link_to 'potential customers', potentials_path %>
</div>

<%= form_tag(customers_path, :method => 'get', :id => 'customers_search')  do %>
  
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= hidden_field_tag :direction, params[:direction] %>
  
  <%= text_field_tag :search, params[:search], :placeholder => "Search ...", :class => "span3" %>
 
<div id="customer">
  <%= render 'customers' %>
</div>
<% end %>

