<%= flash_msg(flash[:notice]) %>
<div class="customer-index">
  <h4>Реальные:</h4>
  <% @customers.each do |c| %>
    <%= c.lastname %>
    <%= c.firstname %>
    <%= link_to "Просмотр",c %><br/>  
  <% end %> 
  <hr>
</div>

<%= link_to 'POTEN', :controller =>:potential  %>

<div class="add-button">
  <%= button_to "Добавить клиента", new_customer_path, :method => :get %><br>
</div>
