<div class="span4">
  <h1 class="title-page">Информация о клиенте</h1>
  <address>
  <div id="info-customer">
    <strong><%= @customer.lastname %> <%= @customer.firstname %></strong>
    <div id="type-customer">
      <%= @customer.type_customer.title %>
    </div>
    <div id="status-customer">
      <%= @customer.social_status.title %>
    </div>
    <div id="phone-customer">
      <%= @customer.phonehome %>
      <%= @customer.phonemobile %>
    </div>
    <%= mail_to @customer.email %>
    <div id="note-customer">
    <%= word_wrap(@customer.note, :line_width => 8) %>
    </div>
  </div>
  </address>
</div>
