<h1>Информация о клиенте</h1>
<%= notice %>
<p>
  <%= @customer.lastname %><br/>
  <%= @customer.firstname %><br/>
  <%= @customer.phonehome %><br/>
  <%= @customer.phonemobile %><br/>
  <%= @customer.social_status.title %><br/>
  <%= @customer.type_customer.title %><br/>
</p><br/><hr>
<%= link_to 'Изменить', edit_customer_path  %>
<%= link_to 'Удалить', customer_path, :method => :delete, :confirm => "Вы уверены?"  %>
<%= link_to 'Назад', :back  %>  
