<h1 class="title-page">
  <%= link_to "All customers", all_customers_path %> → The customer information
</h1>
<%= flash_msg(flash[:notice]) %>
<div id="show-customer">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#1" data-toggle="tab">Summary</a>
      </li>
      <li class="advanced-li-tab">
        <a href="#2" data-toggle="tab">
          Objects [<%= @customer.subjects.count %>]
        </a>
      </li>
      <li class="advanced-li-tab">
        <a href="#3" data-toggle="tab">
          Contracts [<%= @customer.transactions.count %>]
        </a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="1">
      <div id="fields-for-customers">
        <div class="field-customer">
          <span class="title-field">Who added:</span>
          <%= link_to @customer.user.fullname, @customer.user %>
        </div>
        <div class="field-customer">
          <span class="title-field"><b>Type of customer</b></span>
          <span class="typecustomer">
            <%= type_customer(@customer.potentials) %>
            <span class="icon-trans-status">
              <%= customer_act?(@customer) %>  
            </span>
          </span>
        </div>
        <div class="field-customer">
          <span class="title-field"><b>Type of contract</b></span>
          <span class="typetransaction">
            <%= @customer.typetransaction.name %>
          </span>
        </div>
        <div class="field-customer">
          <span class="title-field">Firstname:</span>
          <%= isset_field(@customer.firstname) %>
        </div>
        <div class="field-customer">
          <span class="title-field">Lastname:</span>
          <%= isset_field(@customer.lastname) %>
        </div>
        <div class="field-customer">
          <span class="title-field">Type of contract:</span>
          <%= isset_field(@customer.typetransaction.name) %>
        </div>
        <div class="field-customer">
          <span class="title-field">Social status:</span>
          <% if have_object?(@customer.social_status) %>
            <%= @customer.social_status.title %>
          <% else %>
            None
          <% end %>
        </div>
        <div class="field-customer">
          <span class="title-field">Last handling:</span>
          <span id="last-call-value">
            <%= to_datetime(@customer.lastcall) %>
          </span>
        </div>
        <div class="field-customer">
          <span class="title-field">Added:</span>
          <%= to_date(@customer.created_at) %>
        </div>
        <% if Customer.check_owner(current_user, @customer) %>
          <!-- contacts -->
          <div class="field-customer customer-note field-customer-contacts">
            <div class="field-c-c-title">Contact info:</div>
            <div class="field-customer-c">
              <span class="title-field">Home phone:</span>
              <%= isset_field(@customer.phonehome) %>  
            </div>
            <div class="field-customer-c">
              <span class="title-field">Mobile phone:</span>
              <%= isset_field(@customer.phonemobile) %>  
            </div>
            <div class="field-customer-c">
              <span class="title-field">e-mail:</span>
              <%= isset_mail(@customer.email) %>  
            </div>
            <% @customer.phones.each do |p| %>
              <div class="field-customer-c">
                <span class="title-field">Additional phone:</span>
                <%= isset_field(p.customerphone) %>  
              </div>
            <% end %>
          </div>        
          <!-- end contacts -->
        <% else %>
          <div class="field-customer customer-note field-customer-contacts">
            <div class="field-c-c-title">Contact info:</div>
            <div class="field-customer-c">
              hidden
            </div>
          </div>
        <% end %>
        <div class="field-customer">
          <div class="customer-note">
            <div class="field-c-c-title">Note:</div>
            <div class="content-customer-note">
              <%= isset_field(@customer.note) %>  
            </div>
          </div>
        </div>
        <div class="actions-with-customers">
          <%= link_to plus_icon_white + " Add real estate", new_subject_path(:customer_id => @customer.id), :class => "btn btn-primary" %>
          <%= link_to list_icon + " Make a contract",
              new_transaction_path(:customer_id => @customer.id), 
              :class => "btn" %>
          <%= link_to edit_icon + " Edit",
              edit_customer_path(@customer), :class => "btn" %>
          <%= link_to delete_icon + " Delete",
          @customer, :method => :delete, :confirm => "Are you sure?", :class => "btn" %>        
        </div>
      </div>
      <div id="man-called">
        <button id="man-called-but" 
          class="btn" data-customer-id="<%= @customer.id %>">
          The customer addressed at present
        </button>
      </div>
      <div class="clear"></div>
    </div>
    <div class="tab-pane" id="2">
      <div id="customers-objects">
        <% if @subjects.count > 0 %>
          <% @subjects.each do |subject| %>
            <div class="customer-object">
              <h3><%= link_to(subject.typesubject.name, subject) %></h3>
              <div class="field-obj">
                <span>City:</span>
                <%= subject.city.name %>
              </div>
              <div class="field-obj">
                <span>District:</span>
                <% if have_object?(subject.district) %>
                  <%= subject.district.title %>
                <% else %>
                  None
                <% end %>
              </div>
              <div class="field-obj">
                <span>Address:</span>
                <%= subject.address %>
              </div>
              <div class="field-obj">
                <span>Price:</span>
                <%= price_currency(subject) %>
              </div>
            </div>
          <% end %>
        <% else %>
          <h1 class="zero-subjects-customer-title">
            Customer has no real estate
          </h1>
        <% end %>
      </div>
    </div>
    <div class="tab-pane" id="3">
      <div id="customer-transactions-content">
        <% if @customer.transactions.size > 0 %>
          <% @customer.transactions.each do |t| %>
            <div class="customer-transaction">
              <h3><%= link_to(t.name, t) %></h3>
              <div class="field-obj">
                <span>Responsible:</span>
                <%= t.user.fullname %>
              </div>
              <div class="field-obj">
                <span>Type of contract:</span>
                <%= t.typetransaction.name %>
              </div>
              <div class="field-obj">
                <span>Object of the transaction:</span>
                <% if t.subject == nil %>
                  None
                <% else %>
                  <%= link_to(t.subject.address,
                      subject_path(t.subject)) %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <h1 class="zero-subjects-customer-title">
            No contracts with the given customer
          </h1>        
        <% end %>
      </div>
    </div>
  </div>
</div>
