<h1>Информация о клиенте</h1>
  
  <%= @customer.firstname %><br/>
  <%= @customer.lastname %><br/>
  <%= @customer.phonehome %><br/>
  <%= @customer.phonemobile %><br/>
  <%= @customer.socialstatus %><br/>
  <%= @customer.typecust %><br/>  
