<h1 class="title-page">Информация о клиенте</h1>
<div id="show-customer">
  <div class="field-customer">
    <span class="title-field">Тип клиента:</span>
    <%= type_customer(@customer.potentials) %>
  </div>
  <div class="field-customer">
    <span class="title-field">Имя:</span>
    <%= isset_field(@customer.firstname) %>
  </div>
  <div class="field-customer">
    <span class="title-field">Фамилия:</span>
    <%= isset_field(@customer.lastname) %>
  </div>
  <div class="field-customer">
    <span class="title-field">Тип сделки:</span>
    <%= isset_field(@customer.typetransaction.name) %>
  </div>
  <div class="field-customer">
    <span class="title-field">Социальный статус:</span>
    <%= isset_field(@customer.social_status.title) %>
  </div>
  <div class="field-customer">
    <span class="title-field">Телефон:</span>
    <%= isset_field(@customer.phonehome) %>
  </div>
  <div class="field-customer">
    <span class="title-field">Мобильный телефон:</span>
    <%= isset_field(@customer.phonemobile) %>
  </div>
  <div class="field-customer">
    <span class="title-field">e-mail:</span>
    <%= isset_mail(@customer.email) %>
  </div>
  <div class="field-customer">
    <span class="title-field">Заметка:</span>
    <%= isset_field(@customer.note) %>
  </div>
  <div class="field-customer">
    <span class="title-field">Добавлен:</span>
    <%= to_date(@customer.created_at) %>
  </div>
  <div class="actions-with-customers">
    <%= link_to "Добавить объект", new_subject_path(:customer_id => @customer.id) %>
    <%= link_to edit_icon + " Редактировать",
        edit_customer_path(@customer), :class => "btn" %>
    <%= link_to delete_icon + " Удалить",
    @customer, :method => :delete, :confirm => "Вы уверены?", :class => "btn" %>        
  </div>
</div>