<%= form_for(@socialstatus, :html => { :class => "form-horizontal"}) do |f| %>
  <fieldset>
    <legend><%= @socialstatus.legend_value %></legend>
    <div class="control-group">
      <%= f.label :title, "Наименование" %>
      <div class="controls">
        <%= f.text_field :title, :placeholder => "Студент ..." %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit @socialstatus.button_value, :class => "btn btn-primary" %>
      <button type="reset" class="btn cancel-form">Отмена</button>
    </div>
  </fieldset>
<% end %>

