<%= form_for(@typesubject, :html => {:class => "form-horizontal"}) do |f| %>
  <%= error_messages_for(@typesubject) %>
  <fieldset>
    <legend><%= @typesubject.legend_value %></legend>
    <div class="control-group">
      <%= f.label :name, "Название:" %>
      <div class="controls">
        <%= f.text_field :name, :placeholder => "Коттедж..." %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :permalink, "Постоянная ссылка:" %>
      <div class="controls">
        <%= f.text_field :permalink, :placeholder => "cottage..." %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit @typesubject.button_value, :class => "btn btn-primary" %>
      <button type="reset" class="btn cancel-form">Отмена</button>
    </div>
  </fieldset>

<% end %>