<%= form_for(@typesubject, :html => 
  {:class => "form-horizontal typesubject-form-validation"}) do |f| %>
  <%= error_messages_for(@typesubject) %>
  <fieldset>
    <legend><%= @typesubject.legend_value %></legend>
    <div class="control-group">
      <%= f.label :name, "Title:" %>
      <div class="controls">
        <%= f.text_field :name, :placeholder => "Cottage..." %>
      </div>
    </div>
    <h3 class="advanced-options-for-typesubject">Important whether the following options?</h3>
    <div class="control-group">
      <%= f.label :floor, "Apartment complexes:" %>
      <div class="controls">
        <%= select('typesubject', 'resident', [["Yes",true],["No",false]]) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :floor, "Number of floors:" %>
      <div class="controls">
        <%= select('typesubject', 'floor', [["Yes",true],["No",false]]) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :room, "Number of rooms:" %>
      <div class="controls">
        <%= select('typesubject', 'room', [["Yes",true],["No",false]]) %>  
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit @typesubject.button_value, :class => "btn btn-primary" %>
      <button type="reset" class="btn cancel-form">Cancel</button>
    </div>
  </fieldset>
<% end %>