<%= form_for(@subject, :html => {:class => "form-horizontal"}) do |f| %>
  <%= error_messages_for(@subject) %>
  <fieldset>
    <legend><%= @subject.legend_value %></legend>
    <div class="control-group">
      <%= f.label :typesubject_id, "Тип недвижимости:" %>
      <div class="controls">
        <%= collection_select(:subject, :typesubject_id, 
            Typesubject.all, :id, :name) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :city_id, "Город:" %>
      <div class="controls">
        <%= collection_select(:subject, :city_id,
            City.all, :id, :name) %>
      </div>
    </div>
  </fieldset>
<% end %>