<%= form_for(@subject) do |f| %>
  <%= error_messages_for(@subject) %>
  <div class="field">
    <%= f.label :cityname, "Город:" %>
  </div>
  <div class="field">
    <%= f.label :typesubject, "Тип помещения:" %>
  </div>
  <div class="field">
    <%= f.label :township, "Район:" %>
  </div>
  <div class="field">
    <%= f.label :address, "Адрес:" %>
  </div>
  <div class="field">
    <%= f.label :price, "Цена:" %>
  </div>
  <div class="field">
    <%= f.label :numbofrooms, "Количество комнат:" %>
  </div>
  <div class="field">
    <%= f.label :square, "Общая площадь:" %>
  </div>
  <div class="field">
    <%= f.label :kitchensquare, "Площадь кухни:" %>
  </div>
  <div class="field">
    <%= f.label :livingsquare, "Жилая площадь:" %>
  </div>
  <div class="field">
    <%= f.label :floor, "Этаж:" %>
  </div>
  <div class="field">
    <%= f.label :typestructure, "Тип строения:" %>
  </div>
  <div class="field">
    <%= f.label :yearofconstruction, "Год постройки" %>
  </div>
  <div class="field">
    <%= f.label :telephone, "Телефон:" %>
  </div>
  <div class="field">
    <%= f.label :furniture, "Мебель:" %>
  </div>
  <div class="field">
    <%= f.label :internet, "Интернет:" %>
  </div>
  <div class="field">
    <%= f.label :balcony, "Балкон:" %>
  </div>
  <div class="field">
    <%= f.label :wc, "Санузел:" %>
  </div>
  <div class="field">
    <%= f.label :layout, "Планировка:" %>
  </div>
  <div class="field">
    <%= f.label :state, "Состояние:" %>
  </div>
  <div class="submit">
    <%= f.submit @subject.button_value, :class => "submit-button" %>
  </div>
<% end %>