<table class="table table-striped table-condensed" id="rsubjects">
  <thead>
    <tr>
      <th><%= sortable "typetransaction_id", "Тип сделки" %></th>
      <th>Тип объекта</th>
      <th><%= sortable "city_id", "Город" %></th>
      <th><%= sortable "price", "Цена" %></th>
      <th>Площадь</th>
      <th>Действия</th>
    </tr>
  </thead>  
  <tbody>
    <% @subjects.each do |s| %>
      <tr>
        <td><%= s.typetransaction.name %></td>
        <td><%= link_to(s.typesubject.name, s) %></td>
        <td><%= s.city.name %></td>
        <td><%= to_dollar(s.price) %></td>
        <td><%= to_area(s.area) %></td>
        <td class="actions-buttons">
          <%= link_to eye_icon, subject_path(s), :title => "Подробнее..." %>
          <%= link_to edit_icon, edit_subject_path(s) %>
          <%= link_to delete_icon, s, :method => :delete, :confirm => "Вы уверены?" %>
        </td>
      </tr>
    <% end %>    
  </tbody>
</table>
<%= paginate @subjects %> 

