<%= simple_form_for(@subject, :html => {:class => "form-horizontal"}) do |f| %>
  <%= error_messages_for(@subject) %>
  <fieldset>
    <legend>Добавить дополнительные данные</legend>
      <% @attr.each do |key, value| %>
        <%= f.simple_fields_for :properties do |p| %>
          <%= property_builder(p,key,value) %>
          <%= hidden_builder_cond(p,key,value) %>
          <%= hidden_builder_type(p,value[:typefield],value) %>
        <% end %>
      <% end %>
    <div class="form-actions">
      <%= f.submit "Добавить", :class => "btn btn-primary" %>
      <button type="reset" class="btn cancel-form">Отмена</button>
    </div>
  </fieldset>
<% end %>
<!-- tmp -->
<% unless @subject.new_record? %>
  <% params[:find_values] = @attr %>
<% end %>  
<!-- tmp -->