<%= simple_form_for(@subject, :html => {:class => "form-horizontal"}) do |f| %>
  <%= error_messages_for(@subject) %>
  <fieldset>
    <legend>Редактировать дополнительные данные</legend>
     <%= f.simple_fields_for :properties do |p| %>
        <% case p.object.typefield %>
        <% when "select" %>
          <%= p.input :value, :label => "#{p.object.condition}:", :as => :select, :collection => @attr[p.object.condition][:value].map { |v| v}, :include_blank => true %>
        <% when "radio" %>
          <%= p.input :value, :label => "#{p.object.condition};", :as => :radio_buttons, :collection => @attr[p.object.condition][:value].map { |v| v}, :include_blank => true%>
        <% when "textfield" %>
          <%= p.input :value, :label => "#{p.object.condition}:" %>
        <% when "textarea" %>
          <%= p.input :value, :label => "#{p.object.condition}:", :as => :text, :input_html => { :rows => 4 } %>
        <% end %>
     <% end %>
    <div class="form-actions">
      <%= f.submit "Добавить", :class => "btn btn-primary" %>
      <button type="reset" class="btn cancel-form">Отмена</button>
    </div>
  </fieldset>
<% end %>