<h1 class="title-page">Объекты недвижимости</h1>
<%= flash_msg(flash[:notice]) %>
<%= form_tag subjects_path, :method => 'get'  do %>
  
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= hidden_field_tag :direction, params[:direction] %>
  
<div id="subjects">
<%= render 'subjects' %>
</div>  
<% end %>

