<h1 class="title-page"><%= link_to "Объекты недвижимости", subjects_path %> → Информация об объекте</h1>
<%= flash_msg(flash[:notice]) %>
<div id="show-subject-page">
  <div class="subject-info">
    <div class="field-subject">
      <span class="title-field-subject"><b>Хозяин:</b></span>
      <%= link_to(@subject.customer.fullname, @subject.customer) %>
    </div>
    <div class="field-subject">
      <span class="title-field-subject"><b>Тип объекта:</b></span>
      <b><%= @subject.typesubject.name %></b>
    </div>
    <div class="field-subject">
      <span class="title-field-subject"><b>Статус:</b></span>
      <b><%= active_subject_text?(@subject) %></b>
    </div>
    <div class="field-subject">
      <span class="title-field-subject">Тип сделки:</span>
      <%= @subject.typetransaction.name %>
    </div>
    <div class="field-subject">
      <span class="title-field-subject">Город:</span>
      <%= @subject.city.name %>
    </div>
    <div class="field-subject">
      <span class="title-field-subject">Район:</span>
      <%= @subject.district.title %>
    </div>
    <!-- floor -->
    <% if floor?(@subject) %>
    <div class="field-subject">
      <span class="title-field-subject">Этаж:</span>
      <%= @subject.floor %>
    </div>
    <% end %>
    <!-- end floor -->
    <div class="field-subject">
      <span class="title-field-subject">Цена:</span>
      <%= to_dollar(@subject.price) %>
    </div>
    <div class="field-subject">
      <span class="title-field-subject">Площадь:</span>
      <%= to_area(@subject.area) %>
    </div>
    <div class="field-subject">
      <span class="title-field-subject">Адрес:</span>
      <%= @subject.address %>
    </div>
    <div class="field-subject">
      <span class="title-field-subject">Добавлен:</span>
      <%= to_date(@subject.created_at) %>
    </div>
    <% unless properties_zero?(@subject) %>
      <div id="properties-info">
        <h5>
          Дополнительная информация:
        </h5>
        <% @subject.properties.each do |p| %>
          <div class="field-property">
            <span class="title-field-property">
              <%= p.condition %>:
            </span>
            <%= p.value %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- photos -->
  <% if @subject.photos.size > 0 %>
    <div class="subject-photos">
      <div id="main-subject-photo">
        <%= link_to(image_tag(@subject.photos.first.image_url(:thumb)), @subject.photos.first.image_url) %>
      </div>
      <div id="subject-photos-thumbs">
        <% @subject.photos.each do |p| %>
          <%= link_to(image_tag(p.image_url(:thumb)), p.image_url) %>
        <% end %>
      </div>
    </div>
  <% end %>
  <!--end photos-->
  <div class="clear"></div>
  <div class="actions-with-subject">
    <!-- main actions -->
    <%= link_to edit_icon + " Редактировать",
        edit_subject_path(@subject), :class => "btn" %>
    <%= link_to delete_icon + " Удалить",
    @subject, :method => :delete, :confirm => "Вы уверены?", :class => "btn" %>
    <!-- end main actions -->
    <!-- properties -->
    <% if properties_zero?(@subject) %>
      <%= link_to icon_info_sign_black + 
        " Добавить дополнительную информацию",
        add_properties_subject_path(@subject), :class => "btn" %>
    <% else %>
      <%= link_to icon_info_sign_black + 
        " Редактировать дополнительную информацию",
        add_properties_subject_path(@subject), :class => "btn" %>
    <% end %>
    <!-- end properties -->
    <%= link_to icon_camera_black + " Добавить фотографии", 
        add_photo_subject_path(@subject), :class => "btn" %>
  </div>
</div>