<%= form_for(@resident, :html => 
  {:class => 'form-horizontal resident-form-validation'}) do |f| %>
  <%= error_messages_for(@resident) %>
  <fieldset>
    <legend>Editing apartment complex:</legend>
    <div class="control-group">
      <%= f.label :title, "Title:" %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Edit", :class => "btn btn-primary" %>
      <button type="reset" class="btn cancel-form">Cancel</button>
    </div>
  </fieldset>
<% end %>