<%= form_for(@city) do |f| %>
  <%= error_messages_for(@city) %>
  <div class="field">
    <%= f.label :name, "Название города:" %>
    <%= f.text_field :name, :class => "address" %>
  </div>
  <div clasc="submit">
    <%= f.submit @city.button_value, :class => "submit-button" %>
  </div>
<% end %>