<div id="cities">
  <h1 class="title-page">
    <%= link_to "Settings", settings_path %> → Cities
  </h1>
  <%= flash_msg(flash[:notice]) %>
  <ul id="cities-list">
    <% @cities.each do |city| %>
      <li>
        <div class="city-title">
          <%= city.name %>
        </div>
        <div class="actions-with-cities">
          <%= link_to edit_icon, edit_city_path(city) %>
          <%= link_to delete_icon, city, :method => :delete,
              :confirm => "Are you sure?" %>
        </div>
      </li>
    <% end %>
  </ul>
  <h1 class="warning-city">Beware! When you delete a city, all objects belonging to this city will automatically be deleted!</h1>
  <%= link_to plus_icon + " Add city", new_city_path, :class => "btn" %>
</div>