<div class="transaction_form">
  <%= form_for(@transaction, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
    <%= error_messages_for(@transaction) %>
    <fieldset>
      <legend><%= @transaction.legend %> сделки</legend>
      <div class="control-group">
        <div class="controls">
          <%= hidden_field_tag('transaction[customer_id]',
              @transaction.customer_id.nil? ? params[:customer_id] :
              @transaction.customer_id ) %>
        </div>
      </div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="control-group">
        <%= f.label :name, "Название:" %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :typetransaction_id, "Тип сделки:" %>
        <div class="controls">
          <%= f.collection_select(:typetransaction_id, Typetransaction.all, 
              :id, :name) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :statustransaction_id, "Статус сделки:" %>
        <div class="controls">
          <%= f.collection_select(:statustransaction_id, Statustransaction.all,
          :id, :name) %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= hidden_field_tag('transaction[customer_id]', @transaction.customer_id.nil? ? params[:customer_id] : @transaction.customer_id ) %>
        </div>
      </div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <% unless Customer.find(params[:customer_id]).subjects.size == 0 %>
      <div class="control-group">
        <%= f.label :subject_id, "Объект сделки" %>
        <div class="controls">
          <%= f.collection_select(:subject_id,
              Customer.find(params[:customer_id]).subjects, 
              :id, :address) %>
        </div>
      </div>
      <% end %>
      <div class="control-group">
        <%= f.label :price, "Сумма:" %>
        <div class="controls">
          <%= f.text_field :price %>
          <span class="calc-label">$</span>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :payment, "Сделка оплачена:" %>
        <div class="controls">
          <%= f.check_box :payment %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, "Описание:" %>
        <div class="controls">
          <%= f.text_area :description, :rows => "8", :class => "span4" %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit @transaction.button_value, :class => "btn btn-primary" %>
        <button type="reset" class="btn cancel-form">Отмена</button>
      </div>
    </fieldset>
    <% end %>
</div>