<table class="table table-striped table-condensed transactions">
  <thead>
    <tr>
      <th><%= sortable "id", "#" %></th>
      <th><%= sortable "name", "Сделка" %></th>
      <th><%= sortable "typetransaction_id", "Тип сделки" %></th>
      <th><%= sortable "customer_id", "Клиент" %></th>
      <th>Номер объекта</th>
      <th><%= sortable "user_id", "Ответственный" %></th>
      <th><%= sortable "statustransaction_id", "Статус сделки" %></th>
      <th><%= sortable "created_at", "Дата" %></th>
      <th>Оплата</th>
      <th>Операции</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= link_to transaction.name, transaction_path(transaction) %></td>
        <td>
          <%= transaction.typetransaction.name %>
        </td>
        <td>
          <%= link_to transaction.customer.lastname, 
              customer_path(transaction.customer) %>
        </td>
        <td>
          <%= link_to subject_id, subject_path(transaction.subject) %>
        </td>
        <td>
          <%= transaction.user.email %>
        </td>
        <td>
          <%= transaction.statustransaction.name %>
        </td>
        <td>
          <%= to_date(transaction.created_at) %>
        </td>
        <td>
          <% if transaction.user_id == current_user.id %> 
          <div class="btn-group">
            <a class="btn" href="#">
              <%= transaction.payment_value %>
            </a>
            <a class="btn dropdown-toggle" 
            data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <%= link_to "Сделка оплачена", transaction_path(transaction, 
                          :transaction => { :payment => true }),
                          :method => :put, 
                          :confirm => "Вы уверены?" %>
              <%= link_to "Сделка не оплачена", transaction_path(transaction, 
                          :transaction => { :payment => false }),
                          :method => :put, 
                          :confirm => "Вы уверены?" %>
            </ul>
          </div>
          <% else %>
          <%= transaction.payment_value %>
          <% end %>
        </td>
        <td>
          <%= link_to eye_icon, transaction_path(transaction) %>
          <%= link_to edit_icon, edit_transaction_path(transaction) %>
          <%= link_to delete_icon, transaction, :method => :delete,
                      :confirm => "Вы уверены?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @transactions %>