<h1 class="title-page"><%= @title %></h1>
<%= flash_msg(flash[:notice]) %>
<%= form_tag(transactions_path, :method => 'get', 
    :id => 'transactions_search') do %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= text_field_tag :search, params[:search],
                    :placeholder => "Поиск ...",
                    :class => 'span3' %>
  <div id="transaction">
    <%= render 'transactions' %>
  </div>
<% end %>
<script type="text/javascript" charset="utf-8">
//chart
$(function(){
  new Highcharts.Chart({
    chart: { renderTo: 'chart-transaction'},
    title: { text:'Transaction'},
    xAxis: { type: 'datetime'},
    yAxis: {
      title: { text: 'Dollars'}
    },
    series: [{
      pointInterval: <%= 1.day * 1000 %>,
      pointStart: <%= (3.weeks.ago.beginning_of_day + Time.zone.now.utc_offset).to_i * 1000 %> 
      //data: <%= (3.weeks.ago.to_date..Data.today).map {|date| Transaction.total_on(date).to_f}.inspect %>
    }]
  });
});
</script>
<div id="chart-transaction" style="width: 560px; height: 300px;"></div>
