<h1 class="title-page">Информация о сделке</h1>
<div id="show-transaction">
  <h6>Сделка № <%= @transaction.id %></h6>
  <div class="field-transaction">
    <span class="title-field">Сделка:</span>
    <%= @transaction.name %>
  </div>
  <div class="field-transaction">
    <span class="title-field">Тип сделки:</span>
    <%= @transaction.typetransaction.name %>
  </div>
  <div class="field-transaction">
    <span class="title-field">Статус сделки:</span>
    <%= @transaction.statustransaction.name %>
  </div>
  <div class="field-transaction">
    <span class="title-field">Клиент:</span>
    <%= link_to @transaction.customer.lastname, 
        customer_path(@transaction.customer) %>
  </div>
  <div class="field-transaction">
    <span class="title-field">Ответственный:</span>
    <%= link_to @transaction.user.short_name, user_path(@transaction.user) %>
  </div>
  <div class="field-transaction">
    <span class="title-field">Сумма:</span>
    <%= @transaction.price %> $
  </div>
  <div class="field-transaction">
    <span class="title-field">Описание сделки:</span>
  </div>
  <div class="transaction-desc">
    <%= raw @transaction.description %>
  </div>
  <div class="field-transaction">
    <span class="title-field">Дата:</span>
    <%= to_date(@transaction.created_at) %>
  </div>
  <div class="field-transaction">
    <span class="title-field">Оплата:</span>
    <%= @transaction.payment_value %>
  </div>
</div>