<div class="navbar navbar-fixed-top" id="main-menu">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "CRM", root_path, :class => "brand" %>
      <ul class="nav">
        <li classs="active">
          <%= link_to "Поиск", root_path %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Клиенты <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to icon_plus_sign + " Добавить клиента", new_customer_path %></li>
            <li><%= link_to icon_user + " Все клиенты", all_customers_path %></li>
            <li><%= link_to icon_user + " Действующие клиенты", customers_path %></li>
            <li><%= link_to icon_user + " Потенциальные клиенты", potentials_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to "Объекты", subjects_path %>
        </li>
        <li>
          <%= link_to "Персонал", users_path %>
        </li>
        <li>
          <%= link_to "Задачи", tasks_path %>
        </li>
        <li>
          <%= link_to "Сделки", transactions_path %>
        </li>
        <li>
          <%= link_to "Отчеты", "#" %>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li id="settings-link">
          <%= link_to "Настройки", settings_path %>
        </li>
        <li class="divider-vertical"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.firstname %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to icon_user + ' Показать профиль', user_path(current_user) %></li>
            <li><%= link_to icon_edit + ' Изменить профиль', add_info_user_path(current_user) %></li>
            <li><%= link_to icon_lock_black + ' Изменить пароль', edit_user_path(current_user) %></li>
            <li><%= link_to icon_off + ' Выход', sign_out_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
