<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="account-panel">
      <ul>
        <li class="hello">Здравствуйте, Ерлан (агент)</li>
        <li><a href="#">профиль</a></li>
        <li class="exit-from-system"><a href="#">выход</a></li>
      </ul>
    </div>
    <div id="menu-tabs">
      <ul>
        <li><%= link_to "Главная", root_path, :class => "selected" %></li>
        <li><a href="#" >Объекты</a></li>
        <li><a href="#">Клиенты</a></li>
        <li><a href="#">Персонал</a></li>
        <li><a href="#">Архив</a></li>
        <li><a href="#">История</a></li>
        <li><a href="#">Отчеты</a></li>
      </ul>
    </div>
  </div>
  <div id="maincontent">
    <%= yield %>
  </div>
  <div id="footer">
    <a href="http://remeli.kz">Remeli.kz</a> &copy; 2012
  </div>
</div>
</body>
</html>